:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}

header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white_color);
}

.top-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.container .logo{
    width: 130px;
}

.search-box{
    width: 500px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--main_color);
}

.search-box input{
    background-color: var(--bg_color);
    width: 440px;
    height: 45px;
    border-radius: 30px 0 0 30px;
    padding: 5px 15px 5px 20px;
}

.search-box button{
    width: 60px;
    height: 45px;
    background-color: var(--main_color);
    color: #fff;
    border-radius: 0 30px 30px 0;
        cursor: pointer;
}

.header-icon{
    display: flex;
    gap:30px
}

.header-icon .icon{
    position: relative;
    cursor: pointer;
}

.header-icon .icon svg{
    font-size: 30px;
}

.header-icon .icon .count{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--main_color);
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    font-size: 11px;
}

/* ======== Btm-Header ======= */

.btm-header {
    background-color: var(--main_color);

}

.btm-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btm-header .nav{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 160px;
}

.btm-header .category-nav{
    width: 220px;
    height: 100%;
    position: relative;
}

.btm-header .category-nav .category-nav-list{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--white_color);
    border: 1px solid #999;
    border-top: 0;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    clip-path: polygon(0 0, 100% 0 , 100% 0 , 0 0);
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.btm-header .category-nav .category-nav-list.active{
    clip-path: polygon(0 0, 100% 0 , 100% 100% , 0 100%);
}

.btm-header .category-nav .category-nav-list a{
    padding: 14px 10px;
    border: 1px solid var(--border_color);
    font-size: 14px;
}

.btm-header .category-nav .category-nav-list a:last-child{
    border-bottom: 0;
}

.btm-header .category-nav .category-btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    color: var(--white_color);
}

.btm-header .category-nav .category-btn svg{
    fill: var(--white_color);
}

.btm-header .category-nav .category-btn p{
    color: var(--white_color);
    font-size: 15px;
    font-weight: 600;
}

.btm-header .nav-links{
    display: flex;
    height: 100%;
}

.btm-header .nav-links li{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 25px;
}

.btm-header .nav-links li a{
    color: var(--white_color);
}

.btm-header .sign-regs-icon{
    display: flex;
    gap: 30px;
}

.btm-header .sign-regs-icon svg{
    font-size: 22px;
    fill: var(--white_color);
}

.btm-header .nav-links li.active,
.btm-header .nav-links li:hover{
    background: #0070ca;
}


/* === Search === */

.serachBox_Contaienr{
    position: relative;
}

.suggestions{
    position: absolute;
    background: #fff;
    width: 100%;
    list-style: none;
    border: 1px solid var(--border_color);
}
.suggestions li{
    padding: 5px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid var(--border_color);
}
.suggestions li span{
    font-size: 14px;
}
.suggestions li img{
    width: 30px;
}